resources:
  - ../../app

patches:
- path: ingress.json
  target:
    kind: Ingress
    name: sendit-ingress

namespace: ${{namespace}}
images:
- name: ghcr.io/purplecipher/preview-environment-k8s
  newTag: ${{tag}}
    